{% extends "base.html" %}
{% load bootstrap_tags %}

{% block base_nav %} 
<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
				<a class="navbar-brand" href="/">Harry Tool's</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li ><a href="/">HOME</a></li>
					{% if user.is_authenticated %}
					<li ><a href="{% url 'products' %}">PRODUCTS</a></li>
					<li class="active"><a href="{% url 'get_issues' %}">FEEDBACK</a></li>
					<li><a href="{% url 'roadmap' %}">ROADMAP</a></li>
					<li><a href="{% url 'logout' %}">LOG OUT</a></li>
					{% else %}
					<li><a href="{% url 'login' %}">SIGN IN</a></li>
					<li><a href="{% url 'register' %}">REGISTER</a></li>
					{% endif %}
					<li>
						<a href="{% url 'view_cart' %}">
                            <i class="fa fa-shopping-cart"></i> Cart
                            {% if product_count > 0 %}
                            <label class="badge badge-warning">{{ product_count }}</label>
                            {% endif %}
                        </a>
					</li>
					<li><a data-toggle="modal" data-target="#myModal" href="#myModal"><i class="fa fa-envelope-o"></i></a></li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>
{% endblock base_nav %}



{% block content %}
    <h1>Create or edit a comment</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form | as_bootstrap }}
        <div id="div_rating_val" class="form-group  ">
            <label for="id_rating_val" class="control-label  ">
                Issue Rating  {{ rate }}
            </label>
            <div class="">
                <select name="rating" id="rating" >
                    <option value=1 {% if rate <= 2 %} selected  {% endif %}> Minor </option> 
                    <option value=3 {% if rate > 2 and rate <= 3.5   %}  selected  {% endif %}> Good to have </option>
                    <option value=5 {% if rate >  3.5   %} selected  {% endif %}> Must have </option>
                </select>  
            </div>
            <p>minor = 1, must have = 5</p>
        </div>
        <button type="submit" class="btn btn-info">Save</button>
    </form>
{% endblock %}
