{% extends "base.html" %} {% load gravatar %} {% block content %}
    <div class="row">
    <div class="col-md-2 col-sm-3 text-center">
        <div class="story-img">
            <img src="{% gravatar_url issue.author.email %}" class="img-circle">
        </div>
        <p><span class="boldtext">Author: </span> {{ issue.author }}</p>
        
        <p><span class="boldtext">Tag:</span> {{ issue.tag }}</p>
         <p><span class="boldtext">Status: </span> {{ issue.issue_status }}</p>
        <p><span class="boldtext">Rating: </span> {{issue.rating}} / <span class="boldtext">Votes: </span>{issue.votes}} </p>
    </div>
    <div class="col-md-10 col-sm-9">
        {% if issue.image %}
        <img class="img-blogpost" src="{{ MEDIA_URL }}{{ issue.image }}"> {% endif %}
        <h3>{{ issue.title }}</h3>
        <div class="row">
            <div class="col=xs-12">
                <h4> Product: {{ issue.ht_product  }}</h4>
                <hr>
                <p> {{ issue.content }}</p>
                <p><span class="boldtext">Published on: </span>{{ issue.published_date }} </p>
                <a href="{% url 'get_issues' %}" class="btn btn-default">Back To Posts</a>
                {% if issue.author == user and issue.issue_status != "pending" %}    
                    <a href="{% url 'edit_issue' issue.id %}" class="btn btn-default">Edit Post</a>
                {% endif %}    
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                {% with issue.comment_set.all.count as total_comments %}
                <h4 id="comments">{{ total_comments }} comment{{ total_comments|pluralize }}</h4>
                {% endwith %} 
                {% for comment in issue.comment_set.all %}
                <div class="col-xs-12 commentsection">
                    <div class="col-sm-2 col-xs-12">
                        <div class="story-img">
                            <img src="{% gravatar_url issue.author.email %}" class="img-circle-comment">
                        </div>
                        <p>{{ comment.author }}</p>
                    </div>
                    <div class="col-sm-10 col-xs-12">
                        <p>{{comment.comment}}</p>
                        <p class="italictext">Posted on: {{ comment.comment_created_date }}</p>
                        {% if comment.author == user %}
                        <a href="{% url 'edit_comment' comment.pk %}" class="btn btn-default">Edit this comment</a> 
                        <a href="{% url 'del_comment' comment.pk %}" class="btn btn-default">Delete this comment</a> 
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
                <a href="{% url 'new_comment' %}" class="btn btn-default">Post new comment</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
