{% extends "base.html" %}
{% load bootstrap_tags %}

{% block head_js %}
<script src="https://code.highcharts.com/highcharts.src.js"></script>
{% load chartit %}
{{ chart_list|load_charts:"cht_top_features, cht_top_bugs" }}
{% load render_table from django_tables2 %}
{% endblock %} 

{% block content %}
<h1>Road Map</h1>
<div class = 'row'>
    <div class="col-md-12 col-sm-12">
        {% render_table roadmap_table %}
    </div>
</div>

<br>
<br>




<br>
<div  id='cht_top_features'>
    <h2>Features chart</h2>
</div>
<br><br>
<h3>Top Five Requested Features </h3>
<table class="table">
    <thead>
        <tr>
            <th>Product</th>
            <th>Title</th>
            <th>Rating</th>
            <th>Votes</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for issue in issues_feature %} 
            <tr>
                <td>{{ issue.ht_product  }}</td>
                <td>{{ issue.title }}</td>
                <td>{{ issue.rating }}</td>
                <td>{{ issue.votes }}</td>
                <td><a href="{% url 'issue_detail' issue.id %}" class="btn btn-primary btn-xs">Read more</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>


<!--{% for issue in issues_feature %} -->
<!--<div class="row">-->
<!--    <div class="col-md-10 col-sm-9">-->
<!--        <h3>{{ issue.title }}</h3>-->
<!--        <p> Product: {{ issue.ht_product  }}</p>-->
<!--        <p>{{ issue.tag }}</p>-->
<!--        <p>Rating: {{ issue.rating }} / Votes: {{ issue.votes }}</p>-->
<!--        <hr>-->
<!--    </div>-->
<!--</div>-->
<!--{% endfor %}-->
<hr>
<br>
<br>

<br>
<div  id='cht_top_bugs'>
     
</div>
<br><br>
<h3>Top Five Bugs Fixes Requested </h3>
<table class="table">
    <thead>
        <tr>
            <th>Product</th>
            <th>Title</th>
            <th>Rating</th>
            <th>Votes</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for issue in issues_bugs %} 
            <tr>
                <td>{{ issue.ht_product  }}</td>
                <td>{{ issue.title }}</td>
                <td>{{ issue.rating }}</td>
                <td>{{ issue.votes }}</td>
                <td><a href="{% url 'issue_detail' issue.id %}" class="btn btn-primary btn-xs">Read more</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>


<!--{% for issue in issues_bugs %} -->

<!--<div class="row">-->
<!--    <div class="col-md-10 col-sm-9">-->
<!--        <h3>{{ issue.title }}</h3>-->
<!--        <p> Product: {{ issue.ht_product  }}</p>-->
<!--        <p>{{ issue.tag }}</p>-->
<!--        <p>Rating: {{ issue.rating }} / Votes: {{ issue.votes }}</p>-->
<!--        <hr>-->
<!--    </div>-->
<!--</div>-->
<!--{% endfor %}-->







{% endblock %}