{% extends "base.html" %}
{% load bootstrap_tags %}

{% block head_js %}
<script src="https://code.highcharts.com/highcharts.src.js"></script>
{% load chartit %}
{{ chart_list|load_charts:"cht_top_features, cht_top_bugs" }}
{% endblock %} 

{% block content %}
<h1>Road Map</h1>
<div class = 'row'>
    
</div>

<h3>Top Five Featuers </h3>
{% for issue in issues_feature %} 
<div class="row">
    <div class="col-md-10 col-sm-9">
        <h3>{{ issue.title }}</h3>
        <p> Product: {{ issue.ht_product  }}</p>
        <p>{{ issue.tag }}</p>
        <p>Rating: {{ issue.rating }} / Votes: {{ issue.votes }}</p>
        <hr>
    </div>
</div>
{% endfor %}
<hr>
<h3>Top Five Bugs </h3>
{% for issue in issues_bugs %} 
<div class="row">
    <div class="col-md-10 col-sm-9">
        <h3>{{ issue.title }}</h3>
        <p> Product: {{ issue.ht_product  }}</p>
        <p>{{ issue.tag }}</p>
        <p>Rating: {{ issue.rating }} / Votes: {{ issue.votes }}</p>
        <hr>
    </div>
</div>
{% endfor %}

<div  id='cht_top_features'>
    <h2>Features chart</h2>
</div>

<div  id='cht_top_bugs'>
    <h2>Bugs chart</h2>
</div>



{% endblock %}